RewriteEngine On

Options -Indexes

#RewriteRule te.html$ te.php [QSA,L]
#RewriteRule details.html$ details.php [QSA,L]

# RewriteRule details_$ details.php [QSA,L]
RewriteRule ^(.*)details_(.*)$ details.php [QSA,L]



php_value session.cookie_domain .execfile.com
